*{ 
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.section-one {
    height:100vh;
    background-image: url(../Project_5/bg-img.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
   
}
.main-menu{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-menu .left-side img {
  width: 50px;
  margin-right: 20px;
  margin-top: -20px;
}
.main-menu .left-side  {
    display: flex;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.section-one .right-side  ul {
    display: flex;
    list-style: none;
    font-size: 18px;

}
/* Ovde pocinje kod za Dropdown botton  */
.section-one .right-side  ul li a {
    text-decoration: none;
    padding-right: 30px;
}
.section-one ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .section-one .right-side .btn {
    border: 1px solid green;
    background-color:#10c98f;
  }
  /* section one ending here  */
.section-header {
    flex:8;
    display:flex;
    align-items: center;
    flex-direction: row;
}

.section-header .left-text {
  flex: 4;
  margin-left: 150px;
  margin-bottom: 300px;
  color: white;
  width: 200px;
  height: 350px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  
}

@keyframes example {
  0%   {background-color:transparent; left:0px; top:0px;}
  100%  {background-color:transparent; left:0%; top:0px;}
  from {
      margin-left: 0px;
  }
  to {
      margin-left: 20%;
  }

   
}
.section-header .left-text h1 {
  font-size: 60px;
  width: 450px;

}
.section-header .left-text p {
  width: 300px;
  margin-top: 20px;
  color: #f1f1f1;
  font-size: 20px;
}
.section-header .left-text a {
  display: block;
  margin-top: 30px;
  border: 1px solid #10c98f;
  width: 140px;
  padding: 15px;
  text-decoration: none;
  color:white;
  transition: 0.3s;
  font-weight: bold;
  background-color: #10c98f;
  text-transform: uppercase;
  
}
/* GORE TREBA DA STAVIS ANIMACIJU ZA TEKST  */

.section-header .sign-menu {
  flex: 3;
}
/* Ovde pokusavam da odradim Option Menu,radim pomocu
css i hmtl jer nsam jos radio JS  */
.section-header .sign-menu .sign-menu-tab {
  display: block;
  border: 1px solid white;
  margin-right: 200px;
  background-color: white;
  margin-bottom: 100px;
  width: 400px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header .sign-menu-tab h2 {
  margin-top: 30px;
  font-size: 30px;
}
.section-header .sign-menu-tab p {
  margin-top: 15px;
}
 .section-header .sign-menu-tab #h4 {
  display: block;
  margin-left:-150px;
  margin-top: 30px;
 }
 .section-header .sign-menu-tab #h4-2 {
  display: block;
  margin-left:-230px;
  margin-top: 30px;
 }

 .section-header .sign-menu .sign-menu-tab .option {
  border: 1px solid gray;
  padding: 10px 90px;
 }

 .section-header .sign-menu-tab #h4-3 {
  margin-top: 30px;
  margin-left: -150px;
 }
 .section-header .sign-menu-tab  h3  {
  display: block;
  margin-top: -20px;
  color:#10c98f;
 }

 .section-header .sign-menu-tab a {
  border: 1px solid #10c98f;
  background-color: #10c98f;
  padding: 10px 100px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 13px;
 }


 /*OVDE POCINJE FOOTER-SECTION-TWO  */
 .section-footer .section-two .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
 } 
 .section-footer .section-two .text h1 {
  font-size: 40px;
  font-weight: bold;
  color:#005371;
  padding-bottom: 20px;
  border-bottom: 2px solid #005371;
  border-radius: 10px;
 }
 .section-footer .section-two .text p {
  margin-top: 40px;
  width: 580px;
  text-align: center;
  color:#6d7673;
  font-size: 18px;
 }

footer .section-footer .tabs {
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.section-footer .tabs .tab1 {
  height: 300px;
  width: 300px;
  padding: 30px;

}

.section-footer .tabs .tab2 {
  height: 300px;
  width: 300px;
  padding: 30px;

}
.section-footer .tabs .tab3{
  height: 300px;
  width: 300px;
  padding: 30px;

}

.section-footer .tabs img {
  width: 55px;
  
}
.section-footer .tabs .tab-text {
  color: #00ACEA;
  margin-bottom: 15px;
  margin-top: 10px;
}
.section-footer .tabs a {
  text-decoration: none;
  color:#096D91;
  font-size: 25px;
  font-weight: bold;
  transition: 0.4s;
}
.section-footer .tabs a:hover {
  color: #1E99C6;
}
.section-footer .tabs .tab-text-2 {
  margin-top: 20px;
  color:#6d7673;
  font-size: 19px;

}

/* OVDE SE ZAVRSAVA SEKCIJA 2  */

/* --------------------------------- */

/* OVDE POCINJE SEKCIJA 3  */

.section-tree {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e4f1ed;
}

.section-tree .image-side {
 flex: 1;
 
}
.section-tree .image-side img {
  width: 600px;
  margin-left: 150px;
}
.section-tree .image-side p {
  position: absolute;
  padding: 40px;
  margin-left: 35%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: -120px;
  border: 1px solid black;
  background-color: #005371;
  font-weight: bold;
  color: white;
}
.section-tree .image-side p span {
  display: block;
  font-size: 70px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
}

.section-tree .text-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-tree .text-side h1 {
  width: 440px;
  color: #005371;
}
.section-tree .text-side p {
  width: 430px;
  margin-top: 40px;
  color: #6d7673;
  border-bottom: 3px solid #005371;
  padding-bottom: 20px;
}

.section-tree .text-side ul{
list-style: none;
margin-top: 20px;
font-size: 20px;
}

.section-tree .text-side ul li::before {
  content: "\2022";
  color: #005371;   
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -5.8em;
  font-size: 30px;
}

.section-tree .text-side ul li {
  color: #05394c;
}

.section-tree .text-side a {
  display: block;
  text-decoration: none;
  border: 2px solid #005371;
  padding: 15px 25px ;
  margin-left: -290px;
  margin-top: 30px;
  color: #005371;
  transition: 0.4s;
  font-weight: bold;
}

.section-tree .text-side a:hover {
  background-color: #005371;
  color: white;
  font-weight: bold;
}

/* OVDE SE ZAVRSAVA SEKCIJA 3  */
/* ----------------------------------- */

/* OVDE POCINJE SEKCIJA 4  */

.section-four .tabs-sec-4 {
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

 .section-four .text_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
 } 
 .section-four .text_top h1 {
  font-size: 40px;
  font-weight: bold;
  color:#005371;
  padding-bottom: 20px;
  border-bottom: 2px solid #005371;
  border-radius: 10px;
 }
  .section-four .text_top p {
  margin-top: 40px;
  width: 580px;
  text-align: center;
  color:#6d7673;
  font-size: 18px;
 }


.section-four .tabs-sec-4 .tab_1 {
  height: 300px;
  width: 300px;
  padding: 30px;
  text-align: center;
}

.section-four .tabs-sec-4 .tab_2 {
  height: 300px;
  width: 300px;
  padding: 30px;
  text-align: center;

}
.section-four .tabs-sec-4 .tab_3 {
  height: 300px;
  width: 300px;
  padding: 30px;
  text-align: center;
}
.section-four .tabs-sec-4 .tab_4 {
  height: 300px;
  width: 300px;
  padding: 30px;
  text-align: center;

}
.section-four .tabs-sec-4 img {
  display: block;
  width: 60px;
  margin-bottom: 20px;
  margin-left: 120px;
}

.section-four .tabs-sec-4 a {
  text-decoration: none;
  color:#096D91;
  font-size: 25px;
  font-weight: bold;
  transition: 0.4s;
}
.section-four .tabs-sec-4 a:hover {
  color: #1E99C6;
}
.section-four .tabs-sec-4 .tab-text-sec4-2 {
  margin-top: 20px;
  color:#6d7673;
  font-size: 19px;

}

/* OVDE SE ZAVRSAVA SEKCIJA 4  */

/* ---------------------------------------------------- */

/*OVDE POCINJE SEKCIJA 5   */


.section-five {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e4f1ed;
}

.section-five .image-right-side {
 flex: 1;
 
}
.section-five .image-right-side img {
  width: 600px;
  margin-left: 150px;
}

.section-five .left-side-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-spacing: 7px;
}

.section-five .left-side-text h1 {
  width: 440px;
  color: #005371;
  font-size: 35px;
  font-weight: bold;

}
.section-five .left-side-text p {
  width: 430px;
  margin-top: 25px;
  color: #6d7673;
  border-bottom: 3px solid #005371;
  padding-bottom: 20px;
}

.section-five .left-side-text  ul{
list-style: none;
margin-top: 20px;
font-size: 20px;
}

.section-five .left-side-text ul li::before {
  content: "\2022";
  color: #005371;   
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -5.8em;
  font-size: 30px;
}

.section-five .left-side-text ul li {
  color: #05394c;
}

.section-five .left-side-text a {
  display: block;
  text-decoration: none;
  border: 2px solid #005371;
  padding: 15px 25px ;
  margin-left: -290px;
  margin-top: 30px;
  color: #005371;
  transition: 0.4s;
  font-weight: bold;
}

.section-five .left-side-text a:hover {
  background-color: #005371;
  color: white;
  font-weight: bold;
}