* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: black;
    flex-wrap: wrap;
    border-bottom: 2px solid orange;
    

}

.header .left-side  {
    display: flex;
}
.header .left-side p {
    color: white;
    font-size: 24px;
}

.header .left-side p span {
    color: orange;
    font-size: 24px;
}
.header .right-side  ul {
    display: flex ;
    color:white;
    list-style: none;
    
}

.header .right-side ul li a  {
    text-decoration: none ;
    margin-left: 20px ;
    color: white;
    font-size: 18px;
    font-weight: 500;
    
}

.header .right-side .login-register  {
     color: black;
     background-color: orange;
     border: 1px solid orange;
     border-radius: 25px;
     padding: 8px 25px;
     margin-right: 25px;
}

.carousel-item {
    height: 90vh;
    min-height: 350px;
    background-size: cover;
  
}

.carousel-item::before {
   content: "";
display: block;
position: absolute;
bottom: 0;
right: 0;
top: 0;
left: 0;
background-color: black;
opacity: 0.5;
}

.carousel-caption {
    position: absolute !important;
    bottom: 25.25rem !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left !important;   
}

.w-100 {
    width: 100%!important;
    height: 108%;
}
.carousel-caption h5 {
    font-size: 60px !important;
    font-weight:400;
    text-transform: capitalize;
}
.carousel-caption p {
    font-size: 20px;
}

.carousel-caption h5 span{
    color:orange
}

.carousel-caption a {
   border: 1px solid orange;
   background-color: orange;
   color: black;
   text-decoration: none ;
   border-radius: 25px;
   padding: 10px 20px ;
}

/* HEADER ends Here */

/* ------------------------- */

/* Section two start here  */

.section-two {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab1 {
    border: 1px solid black;
    background-image: url(../Project_6/bg_img_tabs/img1.jpg);
    background-size: cover;
    background-position: center;
    height: 415px;
    position:relative
}
.tab2 {
    border: 1px solid black;
    background-image: url(../Project_6/bg_img_tabs/img2.jpg);
    background-size: cover;
    background-position: center;
    height: 415px;
    position:relative
}
.tab3 {
    border: 1px solid black;
    background-image: url(../Project_6/bg_img_tabs/img3.jpg);
    background-size: cover;
    background-position: center;
    height: 415px;
    position:relative
}
.tab4 {
    border: 1px solid black;
    background-image: url(../Project_6/bg_img_tabs/img4.jpg);
    background-size: cover;
    background-position: center;
    height: 415px;
    position:relative
}
 .section-two  .description {
    position: absolute;
    width: 100%;
    bottom:  0;
    left: 0;
    color: white;
    padding: 26px 24px;
    z-index: 2;
 }

  .new {
    display: inline-block;
    position: relative;
    margin-top: 28px;
    margin-left: 29px;
    background-color: #ff205f;
    color: white;
    padding: 5px 25px;
    font-weight: 500;
    font-size: 12px ;
    text-transform: uppercase;
    z-index: 3;
 }

 .section-two .description h5 a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 22px;
 }

 .section-two .strategy {
    display: inline-block;
    position: relative;
    margin-top: 28px;
    margin-left: 29px;
    background-color: #4eae60;
    color: white;
    padding: 5px 25px;
    font-weight: 500;
    font-size: 12px ;
    text-transform: uppercase;
    z-index: 3;
 }

 .racing {
    display: inline-block;
    position: relative;
    margin-top: 28px;
    margin-left: 29px;
    background-color: #694eae;
    color: white;
    padding: 5px 25px;
    font-weight: 500;
    font-size: 12px ;
    text-transform: uppercase;
    z-index: 3;
 }


.section-two .comments {
    font-size: 12px ;
    text-decoration: none;
    color: #6c757d;
    font-weight: 600;
}


.section-two .tab1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .35;
}
.section-two .tab2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .35;
}
.section-two .tab3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .35;
}
.section-two .tab4::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .35;
}


/* SECTION 2 END HERE  */


/* ----------------------------- */

/* SECTION 3 START HERE  */
.section-tree {
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
    background-image: url(../Project_6/wallpaper-sec3.jpg);
    background-size: cover;
    background-position: center;
}
.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    color: white;
}
.adventure {
    display: inline-block;
    position: relative;
    margin-top: 28px;
    margin-left: 29px;
    background-color: #40abf5;
    color: white;
    padding: 5px 25px;
    font-weight: 500;
    font-size: 12px ;
    text-transform: uppercase;
    z-index: 3;
 }
.section-tree .img-up1   {
    background-image: url(../Project_6/bg_img_tabs/section-tree-img1.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
    
  
}
.section-tree .img-up2   {
    background-image: url(../Project_6/bg_img_tabs/section-tree-img2.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
}
.section-tree .img-up3   {
    background-image: url(../Project_6/bg_img_tabs/section-tree-img3.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
}

.tab-text {
    padding: 34px 22px 20px ;
    border: 1px solid #d6dee7;
    border-top: none;
    position: relative;
    background-color: #d6dee7;
 
}

.img-up1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .35;
}

.img-up2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .35;
}
.img-up3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .35;
}
.right-bottom-icons {
    display: flex;
    justify-content: end;
    position: relative;
   
}

.rgi-star img  {
    position: absolute; 
    width: 40px;
    background-color: orange;
    padding: 5px;
    bottom: -21px;
    right: 17px;

}

.rgi-heart img {
    position: absolute;
    width: 40px;
    background-color: #ff205f;
    padding: 5px;
    bottom: -21px;
    right: -23px;
}

.tab-text a {
    color: grey;
    text-decoration: none;
}

.tab-text a:hover {
    color: grey;
}


/* <!-- SECTION 3 END HERE  --> */

/* <!-- --------------------------------------- --> */

/* <!-- SECTION 4 START HERE  --> */

.section-four {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Project_6/background-section-four.jpg);
    background-size: cover;
    background-position: center;
}
.section-four .title-tournament {
display: inline-block;
padding: 7px 25px ;
font-size: 12px ;
font-weight: 500;
color: white;
text-transform: uppercase;
background-color: #fb6e10;
}
.tournament {
    display: inline-block;
    position: relative;
    background-color: #ffb320;
    color: black;
    font-weight: 700;
    font-size: 12px ;
    padding: 10px 16px;
    text-transform: uppercase;
    z-index: 3;
 }

 .tournament_tab1 {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    background-color: #343a40;
 }
 .tournament_tab2 {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    background-color: #343a40;
 
 }

 .info-tournament-1 {
    padding: 38px 24px ;
 }
 .info-tournament-2 {
    padding: 38px 24px ;
 }
 .info-tournament-1  img {
width: 190px ;
height: 178px;
float: left;
padding-right: 20px;

 }

 .info-tournament-2  img {
    width: 190px ;
    height: 178px;
    float: left;
    padding-right: 20px;
   
}
.info-tournament-1 h5 {
    color: #ffb320;
}
.info-tournament-1 ul li {
    list-style: none ;
    color: white;

}
    
.info-tournament-1 ul li span {
color: #9a9a9a;
padding-right: 5px;
}

.info-tournament-1 p span {
    color:#ffb320 ;
}

.info-tournament-1 p {
    color: #9a9a9a;
}
.info-tournament-2 h5 {
    color: #ffb320;
}
.info-tournament-2 ul li {
    list-style: none ;
    color: white;
}

.info-tournament-2 ul li span {
    color: #9a9a9a;
    padding-right: 5px;
    }
    
    .info-tournament-2 p span {
        color:#ffb320 ;
    }
    
    .info-tournament-2 p {
        color: #9a9a9a;
    }

    