* {
    margin: 0;
    padding: 0;
}

.info-section {
    background-color: black;
    padding: 10px 0;
}

.info-section .widget ul {
    padding: 0 ;
    margin: 0;
}
.info-section .widget ul li {
    display: inline-block;
    color: #c6c6c6;
    padding-right: 10px;
}
.info-section .widget ul li span {
    color: white;
}

.info-section .widget ul li sup {
    color: white;
}
.info-section .widget ul li  a {
    color: #c6c6c6;
    text-decoration: none;
}

.info-section .widget ul li i {
    color: white;
}



.info-section .social-media {
    text-align: right;
    
}

.info-section .social-media a {
    color: white;
    padding-left: 10px;
}

/* INFO SECTION  HERE  */

/* SECTION LOGO START HERE  */

.section-logo {
    background-color: #0d0d0d;
    height: 20vh;
}

.section-logo .logo  {
    text-align: center !important;
}

.section-logo .logo a {
    font-size: 65px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

 /*SECTION LOGO ENDS HERE  */ 

 .section-nav-bar {
    padding: 10px 0;
    background-color: #9e0303;
    display: block;
 }
.section-nav-bar .nav-left-side {
    font-size: 15px;
    color: #fff;
    background: #a81d1d;
    float: left;
    padding: 15px 28px;
   transform: skewX(-15deg);
    cursor: pointer;
    display: inline-block;
}
.section-nav-bar .nav-left-side a {
    color: white;
}
.section-nav-bar .nav-search a {
    color: white;
}
.section-nav-bar .nav-search {
    font-size: 15px;
    color: #fff;
    background: #a81d1d;
    float: right;
    padding: 15px 28px;
    transform: skewX(-15deg);
    cursor: pointer;
    display: inline-block;
}
.section-nav-bar .nav-menu  ul {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
 .section-nav-bar .nav-menu ul  li {
    display: inline-block;
 }

 .section-nav-bar .nav-menu ul .nav-li a {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #a81d1d;
    padding: 17px 15px 13px 30px;
    transform: skewX(-15deg);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}


.section-nav-bar .nav-menu ul .nav-li a:hover {
background-color: #c20000;
transition: 0.5s;
}
.section-nav-bar .nav-menu ul .nav-li a i {
    font-size: 10px;
}

/* PLATFORM DROPDOWN BUTTON WITH CAROUSEL */

.section-nav-bar .dropbtn {
    background-color: #c20000;
    color: white;
    padding: 16px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    color: #fff;
    background: #a81d1d;
    padding: 17px 15px 13px 30px;
    transform: skewX(-15deg);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }

  .section-nav-bar .dropbtn i {
    font-size: 10px;
  }
  
  .section-nav-bar .dropdown {
    position: relative;
    display: inline-block;
    z-index: 3;
  }
  
  .section-nav-bar .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    width:1000px;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -300px;
  }
  

  
  .section-nav-bar .dropdown:hover  .dropdown-content {
    display: block;
    background-color: black;
    text-align: left;
  }

  .section-nav-bar .dropdown:hover  .dropdown-content  .platform-content ul {
    text-align: left;
    margin-left: 10px;
    padding-left: 15px;
  }
  .section-nav-bar .dropdown:hover  .dropdown-content  .platform-content ul  li span {
   font-weight: 600;
   padding-left: 7px;
   padding-right: 7px;
  }
  .section-nav-bar .dropdown  .dropdown-content li a  {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: left;
}
.section-nav-bar .dropdown:hover  .dropdown-content  .platform-content ul  li a:hover {
    color: #c20000;
}
  
  .section-nav-bar .dropdown:hover .dropbtn {
    background-color: #c20000;
    
  }

  .section-nav-bar .dropdown .dropbtn  {
    transition: 0.6s;
  }

  /* DropDOWN PLATFROM CONTENT END HERE */


  /* PLATFORM-ITEMS  */
  .section-nav-bar .dropdown .dropdown-content .items {
    margin:20px;
  }

.section-nav-bar .dropdown .dropdown-content .items  h6 a { 
    font-size: 15px;
    display: block;
    margin-top: 20px;
    font-weight: 70;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    font-style: normal;
    text-decoration: none;
}

.section-nav-bar .dropdown .dropdown-content .items span {
    color: #c6c6c6;
}
.section-nav-bar .dropdown .dropdown-content .items .img img {
  width: 200px;
  }


  /* SECTION ONE START HERE */


  .section-one.carousel-item {
    height: 100vh;
    min-height: 350px;
    background-size: cover;
  
}

.section-one .carousel-item::before {
   content: "";
display: block;
position: absolute;
bottom: 0;
right: 0;
top: 0;
left: 0;
background-color: black;
opacity: 0.3;
}


.section-one .carousel-caption {
    position: absolute !important;
    bottom: 20.25rem !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left !important;   
}

.section-one .w-100 {
    width: 100%!important;
    height: 100%;
}
.section-one .text {
    padding-top: 120px;
    margin-bottom: 10px;

}
.section-one .playstation {
    display: inline-block;
    padding: 4px 7px 4px 12px;
    background: rgba(194, 0, 0, 0.3);
    transform: skewX(-15deg);
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
}

.section-one .text-down h3  {
    color: #ffffff;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 30px;
    width: 580px;

}

.section-one .circle-picture img {
    border-radius: 50%;
    width: 45px;
}

.section-one .circle-picture span {
    color: #c6c6c6;
}

.section-one .carousel-sliding-tabs {
    position: absolute;
    width: 400px;
   height: px;
   background-color: black;
}

.section-one .carousel-sliding-tabs .title h5 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 16px;
    position: relative;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-left: 20px;
}

.section-one .carousel-sliding-tabs .title h5::before {
    content: "";
    position: absolute;
    border: 1px solid #c20000;
    transform: skewX(-15deg);
    top: 9px;
    left: 5px;
    height: 15px;
    width: 11px;
    background-color: #c20000;

}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-1{
margin-bottom: 30px;
padding: 15px;

}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-1 img {
    width: 130px;
    float: left;
    padding-right: 13px;
}

.section-one .section-carousel .mini-carousel-items .mini-carousel-item-1 h5 a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-1 h5 a:hover{
color: #c20000;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-2 h5 a:hover{
color: #c20000;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-3 h5 a:hover{
color: #c20000;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-4 h5 a:hover{
color: #c20000;
}

.section-one .section-carousel .mini-carousel-items .mini-carousel-item-1 span {
    font-size: 12px;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-2{
    margin-bottom: 30px;
padding: 15px;

}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-2 img {
    width: 130px;
    float: left;
    padding-right: 13px;
}

.section-one .section-carousel .mini-carousel-items .mini-carousel-item-2 h5 a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-2 span {
    font-size: 12px;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-3{
    margin-bottom: 30px;
padding: 15px;

}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-3 img {
    width: 130px;
    float: left;
    padding-right: 13px;
}

.section-one .section-carousel .mini-carousel-items .mini-carousel-item-3 h5 a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-3 span {
    font-size: 12px;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-4{
    margin-bottom: 30px;
padding: 15px;

}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-4 img {
    width: 130px;
    float: left;
    padding-right: 13px;
}

.section-one .section-carousel .mini-carousel-items .mini-carousel-item-4 h5 a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.section-one .section-carousel .mini-carousel-items .mini-carousel-item-4 span {
    font-size: 12px;
}

/* SECTION 1 ENDS HERE */

/* SECTION 2 START HERE  */


.section-two {
    padding-top: 65px;
    padding-bottom: 34px;
    background-color: #0d0d0d;
}

.section-two .title h5 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 16px;
    position: relative;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.section-two .title h5::before {
    content: "";
    position: absolute;
    border: 1px solid #c20000;
    transform: skewX(-15deg);
    top: 9px;
    left: 5px;
    height: 15px;
    width: 11px;
    background-color: #c20000;
}

.section-two .preview-tabs .bg-img1 {
    background-image: url(../Project_7/tab-images/sec2-img1.jpg);
    background-size: cover;
    background-position: center;
    height: 190px;
    position: relative ;
}

.section-two  .preview-tabs .bg-img1 span {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid red;
    border-left: none;
    padding: 8px;
} 

/* ZA PREVIEW TAB IMG 1  */

.section-two .preview-tabs .bg-img2 {
    background-image: url(../Project_7/tab-images/sec2-img2.jpg);
    background-size: cover;
    background-position: center;
    height: 190px;
    position: relative ;
}

.section-two  .preview-tabs .bg-img2 span {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid red;
    border-left: none;
    padding: 8px;
} 
.section-two .carousel-item {
transition: transform 1.4s ease-in-out !important;
}
.section-two .preview-tabs .bg-img3 {
    background-image: url(../Project_7/tab-images/sec2-img3.jpg);
    background-size: cover;
    background-position: center;
    height: 190px;
    position: relative ;
}

.section-two  .preview-tabs .bg-img3 span {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid red;
    border-left: none;
    padding: 8px;
} 
.section-two .preview-tabs .bg-img4 {
    background-image: url(../Project_7/tab-images/sec2-img4.jpg);
    background-size: cover;
    background-position: center;
    height: 190px;
    position: relative ;
}

.section-two  .preview-tabs .bg-img4 span {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid red;
    border-left: none;
    padding: 8px;
} 

/* PREVIEW TAB FOR IMG ENDING HERE  */
.section-two .text-beyond-img {
    padding-top: 25px;
}
.section-two .text-beyond-img h6 a  {
    color: white;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.section-two .text-beyond-img span {
    color: #c6c6c6;

}


/* ==================================================================== */

/* SECOND SLIDE  */


.section-two .preview-tabs .bg-img5 {
    background-image: url(../Project_7/tab-images/platform-dropdown-img-2.jpg);
    background-size: cover;
    background-position: center;
    height: 190px;
    position: relative ;
}

.section-two  .preview-tabs .bg-img5 span {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid red;
    border-left: none;
    padding: 8px;
} 

.section-two .preview-tabs .bg-img6 {
    background-image: url(../Project_7/tab-images/platform-dropdown-img-4.jpg);
   background-size: cover;
    background-position: center;
    height: 190px;
    position: relative ;
}

.section-two  .preview-tabs .bg-img6 span {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid red;
    border-left: none;
    padding: 8px;
} 

.section-two .preview-tabs .bg-img7 {
    background-image: url(../Project_7/tab-images/platform-dropdown-img-3.jpg);
    background-size: cover;
    background-position: center;
    height: 190px;
    position: relative ;
}

.section-two  .preview-tabs .bg-img7 span {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid red;
    border-left: none;
    padding: 8px;
} 

.section-two .preview-tabs .bg-img8 {
    background-image: url(../Project_7/tab-images/platform-dropdown-img-1.jpg);
    background-size: cover;
    background-position: center;
    height: 190px;
    position: relative ;
}

.section-two  .preview-tabs .bg-img8 span {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid red;
    border-left: none;
    padding: 8px;
} 

/* SECTION 2 ENDS HERE  */


/* ================== */

/* SECTION 3 START HERE  */


.section-tree {
    padding-top: 65px;
    padding-bottom: 35px;
    background-color: black;
}

.section-tree .news-update-header h5 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 16px;
    position: relative;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.section-tree .news-update-header h5::before {
    content: "";
    position: absolute;
    border: 1px solid #c20000;
    transform: skewX(-15deg);
    top: 9px;
    left: 5px;
    height: 15px;
    width: 11px;
    background-color: #c20000;
}
.section-tree .news-update-header {
    position: relative;
}

.section-tree .news-update-header ul  {
    border: none;
    position: absolute;
    right: 90px;
    top: 0px;
    
}

.section-tree .news-update-header ul li {
    display:inline-block;
    padding-right: 10px;
}

.section-tree .news-update-header ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: 1px;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    transition: 0.5s;
}
.section-tree .news-update-header ul li a:hover {
    color: #c20000;
}

.section-tree .news-update-carousel-games  .big-img {
    background-image: url(../Project_7/tab-images/section-tree-bigimg1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
  
    
}

.section-tree .news-update-carousel-games  .big-img .img-text {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    padding: 0 30px ;
}
.section-tree .news-update-carousel-games  .big-img .img-text h5 a {
   color: #ffffff;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.section-tree .reviews {
    display: inline-block;
    padding: 4px 7px 4px 12px;
    background: rgba(194, 0, 0, 0.6);
    transform: skewX(-15deg);
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
}


.section-tree .news-update-carousel-games  .big-img .img-text  span {
    color: #c6c6c6;
}


.section-tree .news-update-carousel-games  .big-img .img-text #admin {
    color: #c20000;
}

.section-tree .news-update-carousel-games .small-imgs .mini-img-1 {
    height: 150px;
    position: relative;
    background-image: url(../Project_7/tab-images/sec2-img2.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.section-tree  .news-update-carousel-games .small-imgs .reviews {
    display: inline-block;
    padding: 2px 7px 2px 12px;
    background: rgba(194, 0, 0, 0.5);
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    position: absolute;
    left: 12px;
    bottom: 10px;
   
}

.section-tree  .news-update-carousel-games .small-imgs .mini-text h6 a {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.section-tree  .news-update-carousel-games .small-imgs .mini-text span {
    color: #c6c6c6;
    font-size: 12px;
}

.section-tree .news-update-carousel-games .small-imgs .mini-img-2 {
    height: 150px;
    position: relative;
    background-image: url(../Project_7/tab-images/sec2-img4.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.section-tree .news-update-carousel-games .small-imgs .mini-img-3 {
    height: 150px;
    position: relative;
    background-image: url(../Project_7/tab-images/sec2-img1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.section-tree .news-update-carousel-games .small-imgs .mini-img-4 {
    height: 150px;
    position: relative;
    background-image: url(../Project_7/tab-images/platform-dropdown-img-4.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.section-tree .news-update-carousel-games .small-imgs .mini-img-5 {
    height: 150px;
    position: relative;
    background-image: url(../Project_7/tab-images/platform-dropdown-img-1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.section-tree .news-update-carousel-games .small-imgs .mini-img-6 {
    height: 150px;
    position: relative;
    background-image: url(./tab-images/platform-dropdown-img-3.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.section-tree .news-update-carousel-games  .big-img2 {
    background-image: url(../Project_7/tab-images/platform-dropdown-img-2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
  
    
}

.section-tree .news-update-carousel-games  .big-img2 .img-text  span {
    color: #c6c6c6;
}


.section-tree .news-update-carousel-games  .big-img2 .img-text #admin {
    color: #c20000;
}

.section-tree .news-update-carousel-games  .big-img2 .img-text {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    padding: 0 30px ;
}
.section-tree .news-update-carousel-games  .big-img2 .img-text h5 a {
   color: #ffffff;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.section-tree .carousel-item {
    transition: 1.8s ease-in-out !important ;
}

/* SOCIAL MEDIA SIDE  */


.section-tree .social-media-title h5 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 16px;
    position: relative;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.section-tree .social-media-title h5::before {
    content: "";
    position: absolute;
    border: 1px solid #c20000;
    transform: skewX(-15deg);
    top: 9px;
    left: 5px;
    height: 15px;
    width: 11px;
    background-color: #c20000;
    margin-left: 24px;
}

.section-tree .section-social-media .social-media-title ul li {
    border: 1px solid #222222;
    font-size: 14px;
    color: #ffffff;
    list-style: none;
    height: 46px;
    width: 350px;
    line-height: 46px;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    padding: 0 18px 0 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 15px;
}

.section-tree .section-social-media .social-media-title ul li span  {
    display: inline-block;
    transform: skewX(15deg);

}

.section-tree .section-social-media ul li .social-icon {
    display: inline-block;
    padding: 0 20px 0 18px;
    background: #252525;
    height: 45px;
    margin-right: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}

.section-tree .section-social-media ul li .social-icon  i {
    transform: skewX(15deg);
}

.section-tree .section-social-media  ul li .social-follower {
    display: inline-block;
    -webkit-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    transform: skewX(15deg);
    float: right;
}


.section-tree .section-social-media ul li .social-icon:hover {
    background-color: #10c8e8;

}


.section-tree .carousel-sliding-tabs {
    position: absolute;
    width: 400px;
   height: px;
   background-color: black;
}

.section-tree .carousel-sliding-tabs .title h5 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 16px;
    position: relative;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-left: 20px;
}

.section-tree .carousel-sliding-tabs .title h5::before {
    content: "";
    position: absolute;
    border: 1px solid #c20000;
    transform: skewX(-15deg);
    top: 9px;
    left: 5px;
    height: 15px;
    width: 11px;
    background-color: #c20000;

}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-1{
margin-bottom: 5px;
padding: 15px;

}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-1 img {
    width: 130px;
    float: left;
    padding-right: 13px;
}

.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-1 h5 a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-1 h5 a:hover {
    color: #c20000;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-2 h5 a:hover {
    color: #c20000;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-3 h5 a:hover {
    color: #c20000;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-4 h5 a:hover {
    color: #c20000;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-1 span {
    font-size: 12px;
    color: #c6c6c6;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-2{
    margin-bottom: 5px;
padding: 15px;

}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-2 img {
    width: 130px;
    float: left;
    padding-right: 13px;
}

.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-2 h5 a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-2 span {
    font-size: 12px;
    color: #c6c6c6;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-3{
    margin-bottom: 5px;
padding: 15px;

}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-3 img {
    width: 130px;
    float: left;
    padding-right: 13px;
}

.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-3 h5 a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-3 span {
    font-size: 12px;
    color: #c6c6c6;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-4{
    margin-bottom: 5px;
padding: 15px;

}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-4 img {
    width: 130px;
    float: left;
    padding-right: 13px;
}

.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-4 h5 a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.section-tree .section-carousel .mini-carousel-items .mini-carousel-item-4 span {
    font-size: 12px;
    color: #c6c6c6;
}


/* SECTION TREE END HERE  */

/* ============================ */

/* SECTION FOUR START HERE  */



.section-four {
    padding-top: 65px;
    padding-bottom: 35px;
    background-color: #0d0d0d;
}

.section-four .video-guide-title h5 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 16px;
    position: relative;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.section-four .video-guide-title h5::before {
    content: "";
    position: absolute;
    border: 1px solid #c20000;
    transform: skewX(-15deg);
    top: 9px;
    left: 5px;
    height: 15px;
    width: 11px;
    background-color: #c20000;
}
.section-four .video-guide-title {
    position: relative;
}

.section-four .video-guide-title ul  {
    border: none;
    position: absolute;
    right: 90px;
    top: 0px;
    
}

.section-four .video-guide-title ul li {
    display:inline-block;
    padding-right: 10px;
}

.section-four .video-guide-title ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: 1px;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    transition: 0.5s;
}
.section-four .video-guide-title ul li a:hover {
    color: #c20000;
}

/* VIDEOS CAROUSEL SLIDE */

.section-four .big-img-up .video-item-1 {
    background-image: url(../Project_7/backgroundimages/section-one-img1.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    position: relative;
}


.section-four .big-img-up .video-item-1 .text-video {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    padding: 0 30px ;
}
.section-four .big-img-up .video-item-1 .text-video  h5 a {
   color: #ffffff;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.section-four .big-img-up .video-item-1 .text-video  span{
    color: #c6c6c6;
}

/* NABAVI NOVE SLIKE ZA SEKCIJU 4 
 ODRADI DOLE SLIKE NA DIVU SMALL-IMG-DOWN 
 POKUSAJ VIDEO DA URADIS NA TO NE MORAS AL PROBAJ
 ODRADICES DRUGI CAROUSEL 
 ZA SAD TI NORMALNO RADI CAROUSEL PROVERI DA NESTO NE ZEZNES 
  */